<mat-sidenav-container>
  <mat-sidenav
    opened="true"
    mode="side"
    disableClose="true"
    fixedInViewport="Fixed"
    class="side-nav"
  >
    <div class="options">
      <span>
        <button mat-icon-button color="accent">
          <mat-icon>home</mat-icon>
        </button>
      </span>
      <mat-divider></mat-divider>
      <span>
        <button mat-icon-button color="accent">
          <mat-icon>leaderboard</mat-icon>
        </button>
      </span>
      <span>
        <button mat-icon-button color="accent">
          <mat-icon>list</mat-icon>
        </button>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="main">Main</mat-sidenav-content>
</mat-sidenav-container>
