.mat-card {
  width: 80%;
  max-width: 600px;
  margin: 2.5em auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.short-input {
  width: 30%;
}

.tall {
  height: 80px;
}
